<style >
.login-card {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.logo {
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
    display: block;
}

.form-check-label {
    margin-bottom: 0;
}

.forgot-password {
    font-size: 0.9em;
}

.home-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-top: 15px;
}

.form-control {
    display: flex;
    margin: 0 auto;
}

.home-link i {
    margin-right: 5px;
}

</style >
